<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{> page/title}}</title>
</head>
<body>
{{variable1}}
Thanks for visiting my web page. Please navigate with the menu bar above.

</body>
</html>{{variable1}} <br/>
