<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
<script>
    alert('asd');
    alert(JSON.stringify(<%- JSON.stringify(token) %>));
    window.opener.postMessage(<%- JSON.stringify(token) %>, "*");
    window.close();
</script>
</html>
